.Header-nav {
  display: flex;
  padding: 5px;
  flex-direction: row;
  
}

.Header-nav  ul {
    display: flex;
    padding-left: 0;
    margin-right: 20px;
}

.Header-nav  ul li {
   list-style: none;
   padding: 5px;
   margin: 5px;
   border-radius: 12px;
}

.Header-nav ul li:hover {
  box-shadow: 0px 0px 45px 12px rgba(255,255,255,0.76);
}