.Header-nav {
  display: flex;
  padding: 10px;
  flex-direction: row;
}

.Header-nav  ul {
    display: flex;
    padding-left: 0;
    margin-right: 20px;
}

.Header-nav  ul li {
   margin-left: 10px;
   list-style: none;
}

