.Header-nav {
  display: flex;
  padding: 5px;
  flex-direction: row;
  
}

.Header-nav  ul {
    display: flex;
    padding-left: 0;
    margin-right: 20px;
}

.Header-nav  ul li {
   list-style: none;
}

