.questionArticle {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 8px;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 80%;
    margin: 10px;
    color: white;
    font-weight: bolder;
    font-size: 25px;
    background: url(../../../static/single\ quiz\ bg.jpg);
   
    background-size: 100%;
  }
  .questionArticle>h4 {
      margin: 10px;
  }
  .questionArticle>span {
      display: flex;
      flex-direction: column;
      flex-basis: 45%;
      margin: 10px;
  
  }