.myAnswer {
    color: white;
}

.answer-wrapper {
    display: flex;
    flex-direction: column;
}
.answer-label {
    font-size: 25px;
}
.radio-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button {
    width: 100px;
}
.answer-input {
    margin: 10px;
    border-radius: 4px;
    border: none;
    height: 20px;
    box-sizing: border-box;
    flex-basis: 80%;
}
.correct-answer {
    width: 15%;
    align-self: center;
    text-align: center;
}
.radio-message {
    align-self: flex-start;
    position: relative;
    right: 51px;
}