.welcome-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5%;
  background: #21ffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.welcome-image-wrapper {
  padding: 5%;
  flex-basis: 30%;
}
.welcome-image-wrapper > img {
  width: 100%;
}

.welcome-ul-wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  height: 400px;
  align-self: flex-start;
  align-items: center;
  font-size: 30px;
  padding: 5%;
}
.welcome-ul-wrapper ul {
  padding: 0px;
}
.welcome-ul-wrapper li {
  list-style: none;
  padding: 10px;
  font-weight: bold;
}

.welcome-ul-wrapper a {
  flex-basis: 60px;
  width: 300px;
  border-radius: 8px;
  align-self: center;
  border: none;
  font-weight: bold;
  background: #e51fff;
  text-align: center;
  text-decoration: none;
  color: white;
}
