.header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0px auto;
  border-bottom-left-radius: 8px;
  border: 1px solid black;
  border-top: none;
  border-bottom-right-radius: 8px;
  align-items: center;
  background: linear-gradient(45deg, rgb(83, 83, 83) , rgba(133, 133, 133, 0.5));
  
}
.Header-nav {
  font-size: 20px;
  font-weight: bold;
}
.Header-nav li {
  padding-left: 10px;

}

.Header-nav a {
  text-decoration: none;
  
}