.questionsForm {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;
    margin-bottom: 20px;
    border: 2px solid black;
    padding: 5%;
    text-align: center;
}
.questionsForm label {
    color: red;
}
.questionsForm input {
    margin: 8px;
    font-size: 18px;
}