.questionsForm {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 20px;
    border: 2px solid black;
    padding: 5%;
    text-align: center;
}
.question-create {
    margin: 0px;
}
.questionsForm label {
    color: red;
}
.questionsForm input {
    margin: 8px;
    font-size: 18px;
}
.question-create textarea {
    width: 70%;
}
.question-create h2 {
    margin: 5px;
}
